NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-public-anon-key
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_VAPID_PUBLIC_KEY=your-web-push-vapid-public-key
NEXT_PUBLIC_ENABLE_MONO=false
NEXT_PUBLIC_MONO_PUBLIC_KEY=your-mono-public-key
NEXT_PUBLIC_ENABLE_PWA_DEV=true
GEMINI_API_KEY=
MONO_SECRET_KEY=
